* {
    color: rgb(218, 217, 217);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sub-text {
    fill: rgb(161, 160, 160);
}

#link {
    font-size: 12px;
}

#tooltip {
    position: absolute;
    background-color: black;
    padding: 3px 10px;
    line-height: 0.5rem;
    border-radius: 5px;
    transition: 400ms;
}

#container{
    padding: 50px;
    border-radius: 12px;
    background-color: rgb(21, 21, 21);
    box-shadow: -3px 5px 50px 5px rgba(0,0,0,0.50);
    -webkit-box-shadow: -3px 5px 50px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 5px 50px 5px rgba(0,0,0,0.75);
}

body {
    background-color: rgb(46, 46, 46); 
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    padding: 1px;
}

h1 {
    text-align: center;
}

rect:hover {
    fill: rgb(97, 11, 11)
}





